@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");

/*Basic settings for the webpage in all modes*/
* {
	padding: 0;
	margin: 0;
}

/*Basic settings for the webpage in all modes*/
body {
	font-family: "Markazi Text", serif;
	padding: 0;
	margin: 0;
}

/* Simply the space at the right of the navbar menu */
.navbar-menu {
	display: flex;
	height: 85px;
	width: 1100px;
	position: relative;
	max-width: 100%;
	align-items: center;
}

/* Logo styles in mobile mode*/
.navbar-menu img {
	max-width: 250px;
	height: auto;
	width: 290px;
	padding: 10px;
}

/*Burger menu styles in mobile mode*/
.burger {
	display: flex;
	margin-left: auto;
	cursor: pointer;
	font-size: 40px;
	justify-content: center;
	align-items: center;
	padding: 10px;
	color: rgb(84, 84, 84);
}

.rotate {
	transform: rotate(180deg);
	transition: transform 0.2s ease-in-out;
}

.navbar-links {
	display: none;
}

.navbar-links.show {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	position: fixed;
	top: 85px;
	width: 100%;
	z-index: 10;
	background-color: #f4ce14;
	padding-top: 10px;
	height: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background: linear-gradient(to bottom,
			rgba(244, 206, 20, 1),
			rgba(244, 206, 20, 0.9));
	/* Gradient effect */
}

.navbar-links.show li a {
	display: flex;
	text-decoration: none;
	color: rgb(84, 84, 84);
	font-size: 20px;
	padding-top: 10px;
}

.navbar-links.show li a:hover {
	border-bottom: 1px solid;
}

/*Desktop mode*/
@media screen and (min-width: 1025px) {
	.nav-and-header {
		height: 520px;
	}

	/* Navbar styles in desktop mode*/
	.navbar-menu {
		display: flex;
		height: 125px;
		width: 1000px;
		margin: auto;
		position: relative;
		justify-content: center;
	}

	/* Logo styles in desktop mode*/
	.navbar-menu img {
		height: auto;
		width: 290px;
	}

	/*Ul styles in desktop mode*/
	#nav-list {
		display: flex;
		align-items: center;
		margin-left: auto;
		padding-right: 20px;
	}

	/*Li styles in desktop mode*/
	.navbar-menu ul li {
		margin-left: 20px;
		list-style: none;
	}

	/*Li styles in desktop mode*/
	.navbar-menu li a {
		font-family: "Markazi Text", serif;
		text-decoration: none;
		font-size: 21px;
		color: #495e57;
		padding: 5px 0;
	}

	.navbar-menu li a:hover {
		border-bottom: 1px solid;
	}

	.burger {
		display: none;
	}

	/*close the mobile dropdown in desktop mode*/
	.navbar-links.show {
		display: none;
		background-color: none;
	}

	.navbar-links.show li a {
		display: none;
	}
}

.titles {
	padding-top: 15px;
	display: inline-block;
	text-align: center;
}

.header {
	display: flex;
	background-color: #495e57;
	height: 245px;
	justify-content: center;
}

.header-left-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-left-content h1 {
	color: #f4ce14;
}

.header-left-content h2 {
	color: white;
	margin-top: -10px;
	margin-bottom: 15px;
}

.header-left-content p {
	max-width: 400px;
	text-align: center;
	margin: 0 20px 20px 20px;
	color: white;
	font-size: 18px;
}

.header-left-content button {
	background-color: #f4ce14;
	border-radius: 5px;
	font-size: 15px;
	border: none;
	padding: 1em 2em 1em 2em;
}

.header-right-content {
	display: none;
}

@media screen and (min-width: 1025px) {
	.header {
		align-items: center;
		height: 325px;
		justify-content: space-between;
		max-width: 1250px;
		margin: 0 auto;
		border-radius: 10px;
	}

	.header-left-content {
		margin-left: 150px;
	}

	.header-left-content h1 {
		font-size: 64px;
	}

	.header-left-content h2 {
		font-size: 25px;
		color: #edefee;
	}

	.header-left-content h1,
	.header-left-content h2 {
		display: inline-block;
		margin-right: 5px;
	}

	.header-left-content p {
		font-size: 20px;
		color: #edefee;
		max-width: 300px;
		overflow: hidden;
		margin-bottom: 30px;
	}

	.header-left-content button {
		background-color: #f4ce14;
		border: none;
		font-size: 22px;
		font-family: "Markazi Text", serif;
		border-radius: 5px;
		cursor: pointer;
		padding: 15px 30px 15px 30px;
		margin-bottom: -10px;
	}

	.header-left-content button:hover {
		background-color: white;
	}

	.header-right-content {
		margin-top: 75px;
		display: flex;
		object-fit: cover;
		margin-right: 140px;
	}

	.header-right-content img {
		width: 450px;
		border-radius: 10px;
	}
}

.all-specials {
	background-color: white;
}

.specials-title-and-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px 20px 20px;
	font-size: 14px;
}

.specials-title-and-button button {
	background-color: #f4ce14;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 15px 10px 15px;
	max-width: 20em;
	font-size: 20px;
	font-family: "Markazi Text", serif;
}

.specials-cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.specials-cards img {
	width: 100%;
	height: auto;
	border-radius: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.specials-card1 {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(208, 215, 208);
	object-fit: contain;
	height: auto;
	border-radius: 10px;
}

.specials-card2 {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(208, 215, 208);
	object-fit: contain;
	height: auto;
	border-radius: 10px;
}

.specials-card3 {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(208, 215, 208);
	object-fit: contain;
	height: auto;
	border-radius: 10px;
}

.specials-card-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	font-size: 16px;
}

.specials-name {
	font-weight: 700;
}

.specials-card-description {
	text-align: center;
	margin: 15px 5px 10px 5px;
	font-size: 16px;
}

.specials-delivery {
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}

@media screen and (min-width: 1025px) {
	.specials-title-and-button {
		display: flex;
		margin: 0 auto;
		padding-top: 0px;
		padding-bottom: 40px;
		max-width: 1000px;
		padding-left: 0;
		padding-right: 0;
	}

	.specials-cards {
		display: flex;
		flex-direction: row;
		gap: 25px;
		max-width: 1000px;
		padding-bottom: 25px;
		margin: 0 auto;
	}

	.specials-cards img {
		width: 100%;
		height: auto;
	}

	.specials-card-description {
		font-size: 20px;
		margin: 10px 20px;
	}

	.specials-delivery {
		font-size: 22px;
		margin: 20px 20px;
	}

	.specials-card-item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-self: center;
		margin-top: 10px;
		font-size: 22px;
		gap: 20px;
	}
}

.all-testimonials {
	margin-top: 25px;
	margin-bottom: 15px;
	background-color: #F0F0F0;
}

.testimonials-title-and-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px 20px 10px 20px;
	font-size: 14px;
}

.testimonials-img-and-text-wrapper {
	margin-top: 10px;
	display: flex;
	height: 100%;
	align-items: center;
}

.testimonials-img-and-text {
	display: flex;
	flex-direction: row;
    align-items: center;
	justify-content: center;
	width: 100%;
}

.testimonials-rating {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.testimonials-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
	margin-right: 10px;
}

.testimonials-img-and-text img {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	margin-left: 5px;
	margin-bottom: 5px;
			margin-right: 5px;
}

.testimonials-card {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	object-fit: contain;
	height: auto;
	border-radius: 10px;
	background-color: white;
	margin: 10px;
}

.testimonials-card-description {
	text-align: center;
	font-size: 16px;
	height: 100%;
	margin-right: 10px;
}

.testimonials-rating .star-img {
	height: 20px;
	width: auto;
	margin-top: 5px;
}

@media screen and (min-width: 1025px) {

	.all-testimonials {
		max-width: 1250px;
		margin: 0 auto;
		margin-top: 25px;
		border-radius: 10px;
	}

	.testimonials-img-and-text-wrapper {
		height: 100%;
		align-items: center;
	}

	.testimonials-img-and-text {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 60px;
		margin-left: 5px;
		margin-right: 5px
	}

	.testimonials-img-and-text img{
		margin-right: 5px
	}

	.testimonials-title-and-button {
		display: flex;
		margin: 0 auto;
		padding-top: 40x;
		padding: 35px 20px 30px 20px;
		max-width: 1000px;
		padding-left: 0;
		padding-right: 0;
	}

	.testimonials-cards {
		display: flex;
		flex-direction: row;
		gap: 1px;
		max-width: 1000px;
		margin: 0 auto;
		height: 250px;
	}
	.testimonials-card {
		margin-bottom: 25px;
	}

	.testimonials-rating .star-img {
		height: 20px;
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.testimonials-card-description {
		font-size: 20px;
	}
}

.about {
	display: flex;
	height: 245px;
	justify-content: center;
}

.about-left-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-left-content h1 {
	color: #495e57;
}

.about-left-content h2 {
	color: black;
	margin-top: -10px;
	margin-bottom: 15px;
}

.about-left-content p {
	max-width: 400px;
	text-align: center;
	margin: 0 20px 20px 20px;
	color: black;
	font-size: 18px;
}

.about-right-content {
	display: none;
}

@media screen and (min-width: 1025px) {
	.about {
		align-items: center;
		height: 350px;
		justify-content: space-between;
		max-width: 1250px;
		margin: 50px auto;
		border-radius: 10px;
	}

	.about-left-content {
		margin-left: 150px;
	}

	.about-left-content h1 {
		font-size: 64px;
	}

	.about-left-content h2 {
		font-size: 25px;
		color: black;
	}

	.about-left-content h1,
	.about-left-content h2 {
		display: inline-block;
		margin-right: 5px;
	}

	.about-left-content p {
		font-size: 20px;
		color: black;
		max-width: 300px;
		overflow: hidden;
		margin-bottom: 30px;
	}

	.about-right-content {
		margin-top: 75px;
		display: flex;
		object-fit: cover;
		margin-right: 140px;
	}

	.about-right-content img {
		width: 450px;
		border-radius: 10px;
		border-width: 1px;
	}

	.squiggly-line {
		margin-top: 5px;
		margin-bottom: 5px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}